body{
    background-image: linear-gradient(to top, white , rgb(0, 174, 255));
}

h1{
    text-align: center;
    color: rgb(253, 253, 253);
    text-shadow: 50px;
        text-shadow:
        -2px -2px 0 #000,
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000;
}

h2{
    text-align: center;
    color: rgb(0, 0, 0);
    }

h3{
    text-align: center;
    color: rgb(0, 0, 0);
    opacity: 0.6
    ;
    }

img{
     display: block;
  margin: 0 auto;

}

.buttons{
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin: 20px auto;

   .Mat{
       background-color: aquamarine;
 }
    .Por{
       background-color: rgb(255, 97, 97);
 }  
  .cie{
       background-color: rgb(148, 255, 127);
 }
}