body{background-image: linear-gradient(to top, white , rgb(0, 174, 255));}

.h1{text-align: center;text-decoration-color: rgb(253, 253, 253);}

.h2{text-align: center;text-decoration-color: rgb(253, 253, 253);}

.Buttons {align-items: center;}