body{
    background-image: linear-gradient(to top, white , rgb(0, 174, 255));
}

h1{
    text-align: center;
    color: rgb(253, 253, 253);
    text-shadow: 50px;
        text-shadow:
        -2px -2px 0 #000,
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000;
}

h2{
        text-align: center;
    color: rgb(0, 0, 0);
    background-color: #fff;
    border: 2px solid #0074d9;
    padding: 16px 24px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    display: inline-block;
    margin: 20px auto;
    display: flex; justify-content: center;
    }

img{
     display: block;
  margin: 0 auto;

}

.buttons{
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin: 20px auto;
}

.buttons1{
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin: 20px auto;
    button{
        background-color: rgb(255, 152, 152);
    }
}